<section class="services py-5 text-center">
    <div class="container">
      <div class="row">
        <!-- single service -->
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
          <span class="service-icon">
            <i class="fas fa-parachute-box"></i>
          </span>
          <h5 class="font-weight-bold text-uppercase">free shipping</h5>
          <p class="text-muted text-capitalize">
            free shipping on all order over 100.00
          </p>
        </div>
        <!-- end of single service -->
        <!-- single service -->
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
          <span class="service-icon">
            <i class="fas fa-phone-volume"></i>
          </span>
          <h5 class="font-weight-bold text-uppercase">online support 24/7</h5>
          <p class="text-muted text-capitalize">
            we will assist you with your inquiries
          </p>
        </div>
        <!-- end of single service -->
        <!-- single service -->
        <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
          <span class="service-icon">
            <i class="fas fa-dollar-sign"></i>
          </span>
          <h5 class="font-weight-bold text-uppercase">money back gurantee</h5>
          <p class="text-muted text-capitalize">
            free 100% refund for 30 days
          </p>
        </div>
        <!-- end of single service -->
      </div>
    </div>
  </section>
  <!-- end of services section -->
  