.home-filler {
    min-height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/img/home-filler.jpeg") center/cover fixed no-repeat;
  }
  .collection-link {
    color: #fdbe02;
    text-decoration: none !important;
  }
  .collection-link:hover {
    color: #9b9999;
    text-decoration: none !important;
  }
  .collection-underline {
    height: 0.1rem;
    width: 5rem;
    background: #fdbe02;
    margin: 0 auto;
  }
  