
.banner {
    min-height: calc(100vh - 101px);
    background: url("/assets/img/a.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  