.navbar-toggler {
    outline: none !important;
    border: none;
    font-size: 2.2rem;
    color: #fdbe02 !important;
  }
  .nav-link {
    font-size: 1.6rem;
    border-bottom: 0.1rem solid #fff;
  }
  .active {
    border-bottom: 0.1rem solid #fdbe02;
  }
  .navbar-icon {
    font-size: 1.6rem;
  }
  .navbar-cart-icon {
    color: #071013;
    position: relative;
  }
  .navbar-cart-icon:hover {
    color: #9b9999;
  }
  .cart-items {
    color: #fff;
    position: absolute;
    top: -15%;
    right: -25%;
    padding: 0.2rem 0.3rem;
    background: #fdbe02;
    font-size: 0.1rem;
    border-radius: 50%;
  }
  